.table th,
  .table td {
    border: 1px solid #8b8b8b;
    padding: 50px;
    border-left: none;
    border-right: none;
    text-align: left;
    margin: 10px;
  }

.detail-container table{
    padding: 20px;
    margin: 10px;
    border-collapse: collapse;
    font-size: 20px;
}
.detail-div{
  background-color: transparent;
  border-radius: 10px;
  border:2px solid grey;
  box-shadow: 12px 12px 2px 1px #2d363d;
  position: absolute;
  left : 15%;
  top : 45%;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
}
ul {
  list-style: none;
  max-width: 20vw;
  overflow-x: auto;
}

.table{
  right: 10%;
}
.table-div{
  position: absolute;
  right: 10%;
  max-height: 20px;
  top : 15%;
}
.detail-container{
  animation : detail 0.2s ease-in;
  width : 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.close-btn{
  position: absolute;
  top : 10%;
  right: 2%;
}
@keyframes detail {
  from {
    transform:  scale(0.2);
  }
  to {
    transform: scale(1);
  }
}



.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 5vh;
  width: max-content;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; 
}

.page-item {
  margin: 0 5px;
  background-color: rgba(129, 129, 129, 0.5); 
  padding: 8px 12px;
  border-radius: 5px; 
  cursor: pointer;
}

.active {
  background-color: #484b6a;
  color: #fff;
}


.pagination > * {
  margin: 0 10px;
}




@media only screen and (max-width: 1366px) {
  .detail-div{
    background-color: transparent;
    border-radius: 10px;
    border:2px solid grey;
    box-shadow: 12px 12px 2px 1px #2d363d;
    position: absolute;
    left : 5%;
    top : 45%;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
  }
  .close-btn{
    position: absolute;
    top : 11%;
    right: 0;
  }
  
}