.input-container {
    display: flex;
    margin: 0;
    background-color: transparent;
    animation: entry 0.2s ease-in;
  }

  
.particulier-container{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgb(114, 114, 114);
}
.light-mode .particulier-container {
  border-bottom: 2px solid black;
}
.last-deposit{
  position: absolute;
  bottom: 1.5%;
  width: 95%;
  background-color: transparent;
  max-height: 390px;
  overflow-y: auto;
}
.last-deposit table{
  width: 100%;
  border-collapse: collapse;
  align-items: center;
  justify-content: center;
}
.last-deposit table ,td,th{
  border-collapse: collapse;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  .depot-head{
    position: absolute;
    z-index: 2000;
    top:1%;
    right : 50%;
  }
 .light-mode .depot-head{
  color: white;
 }
  .deposit-header{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    top : 20%;
    left: 20%;
  }

  .particulier-container p{
    position: absolute;
    top : 10%;
    font-size:40px;
    font-weight: bolder;
  }

  .light-mode .particulier-container .deposit-header{
    position: absolute;
    top : 20%;
    left: 20%;
  }
  .particulier-container.light-mode .input-container div {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    border-radius: 10px;
  }

  .particulier-container.light-mode.input-container input{
    border: 1px solid black;
    border-radius: 10px;
  }
.light-mode.input-container div{
  background-color: rgb(255, 255, 255);
 
}
.inpu-ar{
  margin: 0;
  
}
.particulier-container::-webkit-scrollbar {
  display: none;
}

.light-mode .particulier-container::-webkit-scrollbar {
  display: none;
}

  .input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    margin: 10px;
    padding: 13px;
    border-radius: 10px;
    border: 1px solid white;
  }

  .input-group input {
    padding: 10px;
    margin: 0px;
    margin-bottom: 20px;
  }
  
  .input-group.lightmode{
    border: none;
  }

  .input-group input{
    border: 1px solid black;
  }
  .send-button-container {
    margin-top: 20px; 
  }

  .bottom-input{
    margin-bottom: 5vh;
  }
  
  .send-button-container div button{
    margin-top: -3vh;
  }

  .history{
    background-color: #2C333A;
    color: rgb(255, 255, 255);
    position: absolute;
    right:1%;
    top: 100%;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    margin-left: 40vw;
    margin-top: -7vh;
    transition: 0.3s;
  }

  .history:hover{
    cursor: pointer;
    transform: scale(0.9);
  }
.error-popup{
  background-color: red;
  color: white; 
  height: 5vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  width: 40vw;
  border:none;  
  border-radius: 0px;  
  padding: 10px;  
  font-size: 16px;
}
  .success-popup-success {
    background: rgb(68, 88, 68);
    color: white; 
    height: 5vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    width: 40vw;
    border:none;  
    border-radius: 0px;  
    padding: 10px;  
    font-size: 16px; 
  }
  .light-mode.particulier-container.success-popup-success {
    background: rgb(68, 88, 68);
    color: white;  
    height: 5vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    width: 40vw;
    border:none; 
    border-radius: 0px;  
    padding: 10px; 
    font-size: 16px; 
  }
  .success-popup-success::before
   {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;  
    border: solid transparent;
    border-width: 15px;  
    border-bottom-color: rgb(68, 88, 68);  
    transform: translateX(-20.5vw); 
  }
  .error-popup::before{
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;  
    border: solid transparent;
    border-width: 15px;  
    border-bottom-color: rgb(255, 0, 0);  
    transform: translateX(-20.5vw); 
  }
  .custom-button{
    position: absolute;
    top : 13%;
    right: 69.5%;
  }
  .custom-button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .custom-button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
    color: white;
  }
  .light-mode .custom-button:hover svg {
    color: white;
  }
  .custom-button:hover svg {
    transform: translateX(1.5em) rotate(45deg) scale(1.1);
    color: rgb(255, 255, 255);
  }
  
  .custom-button :hover span {
    transform: translateX(5em);
  }
  
  .custom-button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  
.send-cancel-button{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.send-cancel-button button{
  width : 5vw;
}

.nbr-table td,th{
  border: 1px solid white;
  padding: 5px;
  margin: 0;
  text-align: center;
}

.agence{
  width: 8vw;
}

.nbr-table {
  margin-top: 4vh;
}

.particulier-container {
  margin-top: -20vh;
  max-height: 50vh;
  overflow-y: auto;
}

.particulier-container::-webkit-scrollbar {
  width: 0; 
}
.particulier-container::-webkit-scrollbar {
  width: 0; 
  cursor: pointer;
  margin-left: 10vw;
}

.particulier-container::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0,0.1);
  border-radius: 5px;
  cursor: pointer;
}

.particulier-container::-webkit-scrollbar-thumb {
  background-color: #505050; 
  border-radius: 6px;
  cursor: pointer;
}

.particulier-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
  cursor: pointer;
}

@keyframes entry {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}

.label {
  background-color: #ffd000;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  margin-bottom: 5vh;
  border-radius: 10px;
  transition: transform 0.3s; 
  color: rgb(58, 58, 58);
}

.label:hover {
  background-color: #ffee01;
  transform: scale(0.9);
}

.nombre.light-mode {
  background-color: none;
}


.side-nbr{
  position: absolute;
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  right:0%;
  flex-direction: column;
  top: 20%;
}

.history-list-nbr{
  background-color: #2d363d;
  margin : 10px;
  padding: 10px;
  border-radius: 10px;
}

.history-list-nbr:hover{
  transform: scale(0.9);
  cursor: pointer;
}

.light-mode .history-list-nbr{
  background-color:  #484b6a;
  color: white;
}

.nbr-list{
  top : 15%;
  position: absolute;
  left: 10%;
  max-height: 70vh;
  overflow-y: auto;
  padding: 20px;
}
.pagination::-webkit-scrollbar {
  top: 15px;
  height: 8px; 
}

.pagination::-webkit-scrollbar-thumb {
  margin-top: 15px;
  background-color: #707070; 
  border-radius: 6px; 
}

.pagination::-webkit-scrollbar-track {
  margin-top: 15px;
  background-color: #f1f1f1;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
}

.pagination-controls div{
  margin: 0;
  padding: auto;
  cursor: pointer;
}

.pagination-controls button:hover {
  background-color: #0056b3;
}

.pagination::-webkit-scrollbar {
  height: 8px;
}

.pagination .previous,
.pagination .next {
  display: none;
}

