.custom-config-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-right: 20vw;
    animation : groupement 1s ease-in
  
  }

  .title{
    margin-top: -5vh;
    position: fixed;
  }
  .custom-form-container {
    position: absolute;
    width: 30vw;
    top : 10%;
    border-radius: 10px;
    left : 5%;
    border: 1px solid grey;
    padding: 20px;
  }
  .custom-form-container button {
    margin-bottom: 10px;
  }
  .light-mode .custom-form-container {
    box-shadow: 0px 0px 10px rgb(51, 51, 51);
  }

  .custom-form-container h2{
    background-color: #2d363d;
    width:  95%;
    margin-top: -0.3%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  .light-mode .custom-form-container h2 {
    background-color: #484b6a;
    color:beige;
  }

  .light-mode .detail-button{
    background-color: #3c3d55;
  } 
  .detail-button{
    background-color: rgb(50, 59, 71);
  }
  .light-mode .custom-delete-button {
    background-color: rgb(105, 0, 0);
  }
  .custom-list-container {
    right : 2%;
    top : 10%;
    border-radius: 10px;
    overflow-y: auto;
    max-width: 59%;
    min-width: 59%;
    max-height: 70vh;
    min-height: 77.5%;
    position: absolute;
    border: 1px solid grey;

    /* background-color: #717579; */
  }
  .light-mode .custom-list-container {
    box-shadow: 0px 0px 10px rgb(2, 2, 2);
  }
  .light-mode .custom-list-container h2{
    background-color: #484b6a;
    color: white;
  }
  .custom-list-container table{
    width: 100%;
  }
   .custom-list-container h2{
      background-color: #2d363d;
      padding: 10px;
      text-align: center;
      width: 95%;
      margin-left: 2%;
      border-radius: 10px;
      position: sticky;
      z-index: 1;
   }
  .custom-form-element {
    margin-bottom: 15px;
    padding: 2.5px;
  }
  
  .custom-form-element h1{
    background-color: #2d363d;
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: -1vh;
    font-size: 25px;
  }

  .light-mode .custom-form-element h1{
    background-color: #003d82;
  }
  
  .custom-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .custom-input {
    width: 100%;
    padding: 8px;
  }
  
  .custom-table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .custom-table th,
  .custom-table td {
    border: 1px solid grey;
    border-left: none;
    border-right: none;
    overflow-y: scroll;
    margin: 0px;
    padding: 0px;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
    word-wrap: break-word;
    max-width :15vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    white-space: nowrap;
  }

  td button {
    margin : 5px;
    padding: 5px;
  }
  
  .change {
    padding: 5px;
    margin : 5px;
    font-size: 14px;
    background-color: #e7b42b;
  }
  .light-mode .change{
    background-color: #003d82
  }
  
  @keyframes groupement {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .custom-delete-button{
    background-color: #b40000;
    color: white;
    width: 8vw;
    height: 5vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
.light-mode .custom-delete-button{
  background-color: #b40000;
}
  .custom-delete-button:hover{
    background-color: rgb(90, 0, 0);
  }
  .main-agence-container input{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
  }

  .agence-container{
    max-height: 40vh;
    overflow-y: auto;
  }

  .agence-container::-webkit-scrollbar{
    width : 0;
  }

  .main-agence-container h2{
    position: fixed;
    margin-top: -7vh;
  }
  .main-agence-container {
    display: flex;
    width: 85vw;
  }
  .main-agence-container button{
    margin-top: 15px;
  }
  .input-agence-container {
    flex: 1;
    padding: 20px;
   
  }
  
  .agence-list-container {

    flex: 2;
    padding: 20px;
    margin-right: auto;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 30vw;
    max-height: 71vh;
    margin-top: -10vh;
    overflow-y: auto;
    font-size: 17px;
  }
  .agence-list-container::-webkit-scrollbar{
    width: 0;
  }

  .agence-list-container table {
    table-layout: fixed;
    border-left: none;
    border-right:none ;
    margin: 0;
    border-collapse: collapse;
    padding: 0;
    width: 100%;
  }
  
  .custom-form-container h2 {
    font-size: 35 px;
  }
  
  .agence-list-container td, .agence-list-container th {
    border: 1px solid grey;
    border-left: none;
    border-right:none ;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
    border-top: none;
    width : 12vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin : 0;
  }

  .td-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .button-container button {
    margin: 5px; 
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
  }
  
  .page-item {
    margin: 0 5px;
    background-color: rgba(129, 129, 129, 0.5); 
    padding: 8px 12px;
    border-radius: 5px; 
    cursor: pointer;
  }
  
  .active {
    background-color: #484b6a;
    color: #fff;
  }
  
  
  .pagination > * {
    margin: 0 10px;
  }
  
  @media screen and (max-width: 1366px) {
    .cls-button {
        margin-left: 17vw;
    }
    .custom-list-container td{
      font-size: 15px;
    }

    .custom-table th,
  .custom-table td {
    border: 1px solid grey;
    border-left: none;
    border-right: none;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
    word-wrap: break-word;
    max-width :15vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    white-space: nowrap;
  }
  .custom-list-container{
    max-height: 85.5%;
    min-height: 85.5%;
  }
  }
   
  .search-container{
    position: absolute;
    top:10%
  }