.historique-container {
    overflow-y: hidden;
}
.DATE{
  position: absolute;
  top : 0.5%;
  right: 25%;
  z-index: 2000;
  color: white;
}
.historique-container.light-mode {
  background-color: #ffffff;
  color: #333;
}

.light-mode .grouping {
  background-color: rgb(0, 0, 0,0.1);
  color: black;
}
.envoilist{
 position: absolute;
 top : 3%;
 right: 50%;
 z-index: 2000;
 font-size: 35px;
 color: white;
 font-size: bolder;
}
.groupement table{
  padding: 0px;
}
.groupement table ,.groupement td,.groupement th {
  padding: 20px;
} 
.historique-list {
    overflow-y: auto;
    margin-left: 5vw;
    min-height: 70vh;
    width: max-content;  
    animation : fadeinleft 0.5s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: none;
}

.container-history{
  margin-top: 5vh;
}


.pdf-generation {
  position: fixed;
  bottom: 2vh;
  font-size: 15px;
  right: 2.3%;
  margin: 16px; 
  z-index: 999; 
}

.historique-item {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-left: none;
    border-top: none;
    width: max-content;
    border-right: none;
    display: flex;
    font-size: 13px;
    flex-direction: row;
    padding: 5px;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation : identifier 1s ease-in;
}
.history-item::-webkit-scrollbar{
  width: 0;
}
.search-bar-history button {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
}

.search-bar-history {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.dropdown-container{
  position: fixed;
}


.envoi-btn{
  position: fixed;
  margin-top: -20vh;
  margin-left: 40vw;
}

.light-mode .search-bar-history input{
  border: 1px solid black;
}
.search-bar-history input{
    width: 50vw;
    border-radius: 20px;
    border: 1px solid white;
}

.main-history-container{
    max-height: 65vh;
    overflow-y: auto;
}

.main-history-container::-webkit-scrollbar {
    width: 12px;
    cursor: pointer;
  }
  
  .main-history-container::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0,0.1);
    border-radius: 5px;
    cursor: pointer;
}
  .header-f12{
    background-color: #484b6a;
    color: white;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
  }
  .header-f12 button{
    background-color: #0b2f4b;
    margin-bottom: 10px;
  }
  .main-history-container::-webkit-scrollbar-thumb {
    background-color: #505050;
    border-radius: 6px; 
    cursor: pointer;
  }
  
  .main-history-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
    cursor: pointer;
  }
  
.history-header{
    background-color: none;
    animation : identifier 0.5s ease-in;
    background-color: blue;
}

.group-by-dropdown {
    margin-right: 0; 
    cursor: pointer;
    margin : 20px;
  }

.group-by-dropdown select{
    cursor: pointer;
    background-color: #8a8a8a;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    color: rgb(49, 28, 1);
    font-weight: bolder;
}

.group-by-dropdown option{
    cursor: pointer;
}
.groupement {
  min-height: 80vh;
  max-height: 80vh;
  overflow: auto;
}
  .sorting {
    background-color:none;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-right: 20px; 
    margin-bottom: -5vh;
  }
  
  .historique-container strong {
    font-size: 15px;
  }
  .historique-container p {
    font-size: 15px;
  }

  .grouping{
    font-size: 15px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 75vw;
    text-align: center;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

 .grouping table {
  width: 100%;
 }

 .grouping td, .grouping th{
  padding: 20px;
 }

  .grouping.light-mode {
    background-color: rgb(0, 0, 0,0.1);
  }

  @keyframes fadeinleft {
    from{
      transform: translateX(150vh);
    }
    to {
      transform: translateX(0);
    }
  }

 @keyframes identifier {
  0%{
    transform: translateX(-150vh);
    opacity: 0;
    transition: 1s;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }

 }
.F12-hist{
  background-color: transparent;
  position: absolute;
  left: 5%;
  top : 10%;
  max-height : 80%;
  margin: 0;
  min-height: 80%; 
  overflow-y: auto;
}
.light-mode .F12-hist {
  background-color: transparent;
}
 .pdf-preview-section{
  margin-top: -50%;

 }
 .list-deposit{
  font-weight: bolder;
  font-size: 25px;
 }

  .history-header h1{
    margin-bottom: 5vh;
    position: absolute;
    top:0;
    left: 35%;
    z-index: 10000000;
  }

  .F12-container {
    display: flex;
    width: 100vw;
    height: 100%;
    flex-direction: column;
  }

  .history-header h1{
    position: fixed;
    z-index: 999;
    top : 10vh;
    right: 45%;
    
  }

  .agence-sidebar {
    width: 250px;
    padding: 10px;
    background-color: #3d3d3d;
    position:fixed;
    max-height: 90vh;
    overflow-y: auto;
    z-index: 999;
    margin: 16px;
    min-height: 90vh;
    top : 7vh;
    right : 0;
  }
  
  .agence-item button {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    text-align: left;
    overflow-y: auto;
   
  }
  
  .F12-btn{
    font-size: 15px;
  }

 .agence-menu{
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    display: flex;
    border-bottom: 1px solid white;
    cursor: pointer;
 }
 
 .light-mode .agence-menu{
 border-bottom: 1px solid black;
 }

 .agence-menu:hover{
  background-color: rgb(255, 255, 0,0.2);
 }

 .light-mode .agence-sidebar{
  background-color: rgb(223, 223, 223);
  
 }

  @media screen and (max-width: 1366px) {
    .selected-agence-data{
      background-color: #4b4b4b;
      max-height: 390px;
      overflow-y: auto;
      border-radius: 10px;
      position: inherit;
    }
    .grouping{
      width: max-content;
      font-size: 10px;
    }

    .historique-list{
      margin-left: 2.5vw;
    }

     
    button{
      font-size: 18px;
    }
    .agence-sidebar{
      width: 10vw;
    }
    .historique-item{
      font-size: 10px;
    }

    .F12-btn{
      right : -2%;  
    }
    .pdf-generation{
      right: 0%;
    }
    .agence-sidebar{
      width: 12vw;
      right: -2%;
    }
  }
 
 