.operation-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    top:0;
    margin: 0;
    position: absolute;
    text-align: center;
    color: white;
    margin-left: 0vw;
    height: 100vh;
}
.recap h2 {
    position: absolute;
    top : 3.4%;
    font-size: 30px;
    right : 45%
}
.light-mode .operation-container .recap div{
    background-color: #484b6a;
    color: white;
}

 .operation-container .recap p {
    font-size: 18px;
}
.recap {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.recap div {
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: none;
    background-color:  #2d363d;
    height: 13vh;
    border-radius: 10px;
}

.paginate{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 5vh;
  width: max-content;
  position: absolute;
  bottom: 0;
  right : 50%;
}

.search-bar-container input.large-input {
    margin: 5px;
    width: 400px; 
    font-size: 16px; 
}

  
.search-bar-container{
    position: absolute;
    width:fit-content;
    display: flex;
    margin: 5px;
    padding: 5px;
    left: 15%;
    align-items: center;
    flex-direction: row;
    top : 10%;
    z-index: 2000;
    color: grey;
}


.search-bar-container input{
    margin: 5px;
    width: 5vw;
}

.search-bar-container button{
    background-color: rgb(35, 35, 37);
    width: 5vw;
    margin-left: 10px;
}
.light-mode .search-bar-container button{
    background-color: #484b6a;
    color: rgb(255, 255, 255);
}
.search-bar-container input{
    background-color: rgb(0, 0,0,0.5);
    color: white;
   
}
.operation-head{
    top : 1%;
    z-index: 2000;
    right: 50%;
    position: absolute;
    color: white;
}

.search-bar-container input::placeholder{
    color: white;
}
.recap div{
    flex-direction: column;
    padding: 10px;
    margin: 40px;
    margin-top: 20px;
    width: 60%;
}

.side-hist{
    height: 100vh;
    width: 20vw;
    position: absolute;
    right: -1.5%;
    top: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.operation-container h1{
    margin-left: 0%;
}

.light-mode .operation-container{
    color: black; 
    margin-left : 0vw;
}
.recap div h1{
    font-size: 50px;
    margin-top: -3px;
}

.operation-list{
    position: absolute;
    display: flex;
    align-items: start  ;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 20px;
   min-height: 73vh;
   max-height: 73vh;
   overflow-y: auto;
    width : 75vw;
    left: 5%;
    top: 20%;
}

.operation-list table{
    width: 100%;
    margin-top: 15px;
}

.operation-list table,td,th{
    border: 1px solid grey;
    border-collapse: collapse;
    border-top:none;
    border-left:none;
    border-right :none;
    padding: 30px;

}

.operation-list th{
    border-bottom: 1px solid gray;
}

.operation-list::-webkit-scrollbar {
    width: 12px;
  }
  
  .operation-list::-webkit-scrollbar-track {
    background: #747474;
    border-radius: 10px;
  }
  
  .operation-list::-webkit-scrollbar-thumb {
    background: #383838;
    border-radius: 10px;
  }
  
  .operation-list::-webkit-scrollbar-thumb:hover {
    background: #000000;
  }
  

@media only screen and (max-width: 1366px) {
    .operation-list{
        height: 50vh;
        font-size: 15px;
    }
    .operation-container td{
        font-size: 14px;
    }iiiiiii
    .side-hist{
        top:40%;
        right: -1.5%;
        height: 30vh;
        padding: 5px;
    }
    .recap div h1{
        font-size: 35px;
    }
    .recap div{
        padding: auto;
        margin: 20px;
    }
    .search-bar-container{
        right: 25%;
        width: 50vw;
    }
}