.operation-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    top:0;
    margin: 0;
    position: absolute;
    text-align: center;
    color: white;
    margin-left: 0vw;
    height: 100vh;
}

.light-mode .operation-container .recap div{
    background-color: rgb(224, 222, 222);
}
.recap {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.recap div {
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: 1px solid grey;
    height: 12vh;
    border-radius: 20px;

}

.paginate{
    display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 5vh;
  width: max-content;
  position: absolute;
  bottom: 0;
  right : 50%;
}

.search-bar-container{
    position: absolute;
    width: 60vh;
    display: flex;
    margin: 5px;
    align-items: center;
    flex-direction: row;
    top : 1%;
    z-index: 2000;
}

.search-bar-container button{
    background-color: rgb(35, 35, 37);
    width: 5vw;
    margin-left: 10px;
}
.light-mode .search-bar-container button{
    background-color: #484b6a;
    color: rgb(255, 255, 255);
}
.search-bar-container input{
    background-color: rgb(0, 0,0,0.5);
    color: white;
   
}

.search-bar-container input::placeholder{
    color: white;
}
.recap div{
    flex-direction: column;
    padding: 10px;
    margin: 40px;
    margin-top: 20px;
    width: 60%;
}

.nbr-envoi {
    box-shadow: 12px 12px 2px 1px rgb(44, 44, 78);
}

.nbr-tri {
    box-shadow: 12px 12px 2px 1px 	#917e9b;
}
.side-hist{
    height: 100vh;
    width: 20vw;
    position: absolute;
    right: 0;
    top: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nbr-dist {
    box-shadow: 12px 12px 2px 1px rgb(85, 41, 41);
}

.nbr-env{
    box-shadow: 12px 12px 2px 1px rgb(68, 129, 63);
}

.operation-container h1{
    margin-left: 0%;
}

.light-mode .operation-container{
    color: black; 
    margin-left : 0vw;
}
.recap div h1{
    font-size: 50px;
    margin-top: -3px;
}

.operation-list{
    position: absolute;
    display: flex;
    align-items: start  ;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 20px;
    border-top: none;
   min-height: 82vh;
   max-height: 82vh;
   overflow-y: auto;
    width : 75vw;
    left: 5%;
    top: 11%;
}

.operation-list table{
    width: 100%;
    margin-top: 15px;
}

.operation-list table,td,th{
    border: 1px solid grey;
    border-collapse: collapse;
    border-top:none;
    border-left:none;
    border-right :none;
    padding: 30px;

}

.operation-list th{
    border-bottom: 1px solid gray;
}

.operation-list::-webkit-scrollbar {
    width: 12px;
  }
  
  .operation-list::-webkit-scrollbar-track {
    background: #747474;
    border-radius: 10px;
  }
  
  .operation-list::-webkit-scrollbar-thumb {
    background: #383838;
    border-radius: 10px;
  }
  
  .operation-list::-webkit-scrollbar-thumb:hover {
    background: #000000;
  }
  

@media only screen and (max-width: 1366px) {
    .operation-list{
        height: 50vh;
        font-size: 15px;
    }
    .operation-container td{
        font-size: 14px;
    }
    .side-hist{
        top:40%;
        right: -1.5%;
        height: 30vh;
        padding: 5px;
    }
    .recap div h1{
        font-size: 35px;
    }
    .recap div{
        padding: auto;
        margin: 20px;
    }
}